# Unix-style newlines with a newline ending every file.
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{css,html}]
indent_size = 2

# Don't trim whitespace in Markdown so we can do two spaces for line breaks.
[*.md]
trim_trailing_whitespace = false
